{% load static %}

<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <title>Budgetify</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="" name="keywords">
        <meta content="" name="description">

        <!-- Google Web Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:slnt,wght@-10..0,100..900&display=swap" rel="stylesheet">

        <!-- Icon Font Stylesheet -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"/>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

        <!-- Libraries Stylesheet -->
        <link rel="stylesheet" href="{% static 'Main/lib/animate/animate.min.css' %}"/>
        <link href="{% static 'Main/lib/lightbox/css/lightbox.min.css' %}" rel="stylesheet">
        <link href="{% static 'Main/lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">


        <!-- Customized Bootstrap Stylesheet -->
        <link href="{% static 'Main/css/bootstrap.min.css' %}" rel="stylesheet">

        <!-- Template Stylesheet -->
        <link href="{% static 'Main/css/style.css' %}" rel="stylesheet">
    </head>

    <body>


        <!-- Navbar & Hero Start -->
        <div class="container-fluid nav-bar px-0 px-lg-4 py-lg-0">
            <div class="container">
                <nav class="navbar navbar-expand-lg navbar-light"> 
                    <a href="#" class="navbar-brand p-0">
                        <h1 class="text-primary mb-0"><i class="fab fa-slack me-2"></i>Budgetify</h1>
                        <!-- <img src="{% static 'Main/img/logo.png' %}" alt="Logo"> -->
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                        <span class="fa fa-bars"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarCollapse">
                        <div class="navbar-nav mx-0 mx-lg-auto">
                            <a href="{%  url 'Guest:index'  %}" class="nav-item nav-link active">Home</a>
                            <!-- <a href="about.html" class="nav-item nav-link">About</a> -->
                            <!-- <a href="{%  url 'Guest:Login'  %}" class="nav-item nav-link">Login</a> -->
                            <div class="nav-item dropdown">
                                <a href="#" class="nav-link" data-bs-toggle="dropdown">
                                    <span class="dropdown-toggle">Login</span>
                                </a>
                                <div class="dropdown-menu">
                                    <a href="{%  url 'Guest:Login'  %}" class="dropdown-item">User Login</a>
                                    <a href="{%  url 'Guest:LoginAdmin'  %}" class="dropdown-item">Admin Login</a>
                                </div>
                            </div>
                            <a href="{%  url 'Guest:userregistration'  %}" class="nav-item nav-link">Register</a>
                            
                        </div>
                    </div>
                    
                </nav>
            </div>
        </div>
        <!-- Navbar & Hero End -->

        


        <!-- Carousel Start -->
        <div class="header-carousel owl-carousel">
            <div class="header-carousel-item bg-primary">
                <div class="carousel-caption">
                    <div class="container">
                        <div class="row g-4 align-items-center">
                            <div class="col-lg-7 animated fadeInLeft">
                                <div class="text-sm-center text-md-start">
                                    <h4 class="text-white text-uppercase fw-bold mb-4">Welcome To Budgetify</h4>
                                    <h1 class="display-1 text-white mb-4">Track your Expenses</h1>
                                    <p class="mb-5 fs-5">Smart Spending, Smarter Saving!
                                    </p>
                                    
                                </div>
                            </div>
                            <div class="col-lg-5 animated fadeInRight">
                                <div class="calrousel-img" style="object-fit: cover;">
                                    <img src="{% static 'Main/img/carousel-2.png' %}" class="img-fluid w-100" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header-carousel-item bg-primary">
                <div class="carousel-caption">
                    <div class="container">
                        <div class="row gy-4 gy-lg-0 gx-0 gx-lg-5 align-items-center">
                            <div class="col-lg-5 animated fadeInLeft">
                                <div class="calrousel-img">
                                    <img src="{% static 'Main/img/carousel-2.png' %}" class="img-fluid w-100" alt="">
                                </div>
                            </div>
                            <div class="col-lg-7 animated fadeInRight">
                                <div class="text-sm-center text-md-end">
                                    <h4 class="text-white text-uppercase fw-bold mb-4">Welcome To Budgetify</h4>
                                    <h1 class="display-1 text-white mb-4">Track your Expenses</h1>
                                    <p class="mb-5 fs-5">Smart Spending, Smarter Saving!
                                    </p>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Carousel End -->



        <!-- Footer Start -->
        <div class="container-fluid footer py-5 wow fadeIn" data-wow-delay="0.2s">
            <div class="container py-5">
                <div class="row">
                    <div class="col-12 text-center">
                        <div class="footer-item">
                            <a href="index.html" class="p-0">
                                <h3 class="text-white"><i class="fab fa-slack me-3"></i> Budgetify</h3>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
                                
        <!-- Footer End -->
        
        <!-- Copyright Start -->
        <div class="container-fluid copyright py-4">
            <div class="container">
                <div class="row g-4 align-items-center">
                    <div class="col-md-6 text-center text-md-end mb-md-0">
                        <span class="text-body"><a href="#" class="border-bottom text-white"><i class="fas fa-copyright text-light me-2"></i>Budgetify</a>, All right reserved.</span>
                    </div>
                    <div class="col-md-6 text-center text-md-start text-body">
                        <!--/*** This template is free as long as you keep the below author’s credit link/attribution link/backlink. ***/-->
                        <!--/*** If you'd like to use the template without the below author’s credit link/attribution link/backlink, ***/-->
                        <!--/*** you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". ***/-->
                        Designed By <a class="border-bottom text-white" href="https://htmlcodex.com">HTML Codex</a> Distributed By <a class="border-bottom text-white" href="https://themewagon.com">ThemeWagon</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Copyright End -->


        <!-- Back to Top -->
        <a href="#" class="btn btn-primary btn-lg-square rounded-circle back-to-top"><i class="fa fa-arrow-up"></i></a>   

        
        <!-- JavaScript Libraries -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
        <script src="{% static 'Main/lib/wow/wow.min.js' %}"></script>
        <script src="{% static 'Main/lib/easing/easing.min.js' %}"></script>
        <script src="{% static 'Main/lib/waypoints/waypoints.min.js' %}"></script>
        <script src="{% static 'Main/lib/counterup/counterup.min.js' %}"></script>
        <script src="{% static 'Main/lib/lightbox/js/lightbox.min.js' %}"></script>
        <script src="{% static 'Main/lib/owlcarousel/owl.carousel.min.js' %}"></script>
        

        <!-- Template Javascript -->
        <script src="{% static 'Main/js/main.js' %}"></script>
    </body>

</html>